{% extends "base.html" %}
{% block content %}
{% load static %}
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 ml-auto d-flex" style="position:absolute; top:50px;"><img src="{% static 'img/동네 어때(맞춤형 동네추천 서비스).png' %}" ></div>
            <div class="col-md-6">
              <div class="login-wrap p-md-5 w-100" style="position:absolute; top:50px; left:550px;">
                <div class="d-flex">
                  <div class="w-100">
                    <h1 class="mb-4" contenteditable="true">Sign In</h1>
                  </div>
                </div>
                <form method="post" action="{% url 'accounts:login' %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{next}}"> <!-- 로그인 후 원래 선택했던 기능으로 연결 -->
                  {% include "form_errors.html" %}
                  <div class="form-group mb-3">
                    <label class="label" for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username" value="{{form.username.value|default_if_none:''}}">
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" value="{{form.password.value|default_if_none:''}}">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                  </div>
                </form>
                <p class="text-center">Not a member? <a data-toggle="tab" href="{% url 'accounts:signup' %}">Sign Up</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.JD3obyg0WD.js"></script>
  <script>
    eval(mod_pagespeed_YYCwSj$83H);
  </script>
  <script>
    eval(mod_pagespeed_fUKQzxht9j);
  </script>
  <script>
    eval(mod_pagespeed_lpntivnFUb);
  </script>
  <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon="{&quot;rayId&quot;:&quot;762aabaf1c828322&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2022.10.3&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
-->
{% endblock %}